pytest
snowflake-connector-python[pandas]
dbt-core
dbt-snowflake
apache-airflow[cncf.kubernetes,celery,postgres,google,amazon,s3,http,slack,statsd,jdbc,ssh]==2.9.2 
apache-airflow-providers-cncf-kubernetes
apache-airflow-providers-postgres
great-expectations
sqlfluff
dotenv
pandas
minio
pyarrow
polars